* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

label {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  font-weight: bold;
}

input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;

  box-sizing: border-box;
font-family: inherit;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 100%;
height: 40px;
border: none;
border-bottom: 1px solid #8d8d8d;
background-color: #f4f4f4;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
:focus{
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  min-width: 12rem;
}

h2 {
  text-align: center;
  color: #7C4D38;
}

#btnAdd{
  width: 40%;
  border-radius: 8px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#btnClear{
  width: 40%;
  border-radius: 8px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

#btnDone{
  width: 100%;
  border-radius: 8px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}