@import './base.css';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
}

form {
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0 2rem 2rem 2rem;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  color: #7C4D38;
  padding-top: 2rem;
}

hr{
  margin: 1rem 0 0 0;
}

.input-field{
  position: relative;
  margin-top: 1rem;
}
.input-field input{
   width: 100%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #E9E7E1;
  background: transparent;
  color: #000000;
  outline: none;
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #868482;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus{
  border: 2px solid #7C4D38;
}
input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background-color: #ffffff;
}

.buttonAdd{
  width: 40%;
  border-radius: 4px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 2px 2px 2px;
  cursor: pointer;
}
.buttonClear{
  width: 40%;
  border-radius: 4px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 2px 2px 2px;
  cursor: pointer;
  float: right;
}

.btnDone{
  width: 100%;
  border-radius: 4px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 2px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  display: block;
  margin: 1rem 0;
  padding: 0 5rem 0 5rem;
  border: 1px solid #ccc;
  min-width: 12rem;
}

#parcels {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

#parcels td, #parcels th {
  border: 1px solid #ddd;
  padding: 5px;
}

#parcels tr:nth-child(even){background-color: #f2f2f2;}

#parcels tr:hover {background-color: #ddd;}

#parcels th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7C4D38;
  color: white;
}

.qr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}