@import './base.css';

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
   url(./../font/Poppins-Regular.ttf) format("truetype");
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

body {
  margin: 0;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
}

#form-app {
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0 2rem 2rem 2rem;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  color: #7C4D38;
  padding-top: 2rem;
  font-family: "Poppins";
}

hr{
  margin: 1rem 0 0 0;
}

.input-field.invalid input {
  border-color: red;
}

.input-field.invalid label {
  color: red;
}

.input-field{
  position: relative;
  margin-top: 1rem;
}
.input-field input{
   width: 100%;
  height: 45px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 15px;
  border: 2px solid #E9E7E1;
  background: transparent;
  color: #000000;
  outline: none;
  font-family: "Poppins";
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #868482;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus{
  border: 2px solid #7C4D38;
}
input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 14px;
  padding: 0 2px;
  background-color: #ffffff;
}

.buttonAdd{
  width: 40%;
  border-radius: 4px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 2px 2px 2px;
  cursor: pointer;
}
.buttonClear{
  width: 40%;
  border-radius: 4px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 2px 2px 2px;
  cursor: pointer;
  float: right;
  margin-top: -70px;
}

.btnDone{
  width: 100%;
  border-radius: 4px;
  background-color: #7C4D38;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 2px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  text-align: left;
}

li {
  display: block;
  margin: 1rem 0;
  padding: 0 5rem 0 1rem;
  min-width: 12rem;
  text-align: left;
}

.qr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@media (max-width: 350px) {
  .buttonAdd{
    font-size: smaller;
  }
  .buttonClear{
    font-size: smaller;
    margin-top: -65px;
  }
}

@media (max-width: 300px) {
  .buttonAdd{
    font-size: x-small;
  }
  .buttonClear{
    font-size: x-small;
    margin-top: -60px;
  }
}